<div class="container">
  <div class="countrySelect">
    <label for="countrySelect">Wybierz kraj:</label>
    <select
      #country
      id="countrySelect"
      [(ngModel)]="countrySelected"
      (change)="onSelect(country.value)"
    >
      <option value="pl">Polska</option>
      <option value="cz">Czechy</option>
      <option value="de">Niemcy</option>
    </select>
  </div>
  <div class="pages-filter">
    <p>Zmień ilość wiadomości na stronie:</p>
    <input
      type="number"
      min="0"
      max="100"
      #inputPage
      (change)="onInputChange(inputPage.value)"
    />
  </div>
</div>
